---
content: markdown/ace_lobby.md
img1: ace_lobby3.gif
wideimg: ace_lobby.jpeg
title: Ace Hotel Lobby ~
---
{{> wideimg }}

<div class="container">

  {{> menu }}
  
  <section>
    <h2>{{ title }}</h2>
    {{{ md content }}}
  </section>

</div>
